<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Rocker air  <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>Sunday</mat-chip>
        <mat-chip>Monday</mat-chip>
        <mat-chip>Friday</mat-chip>
      </mat-chip-set>
        <p>From Mumbai to Pune at 3.30 pm <br>Rs 3400/only per seat for Iron and Rs 5500/only per seat for Gold</p>
        <p>you will get food and music system also you will get gold service</p> 
    </mat-card-title>
    </mat-card-header>
  </mat-card>
<div class="flexbox-container-outer">
    <div class="flexbox-item1">
        <p style="cursor: pointer; margin-left: 10px; font-size: large;">Passanger list</p>
        <section class="flextinfo">
          <div class="info">checkIn</div>
          <div class="info">checkOut</div>        
          <div class="info">WithFanta</div>
        </section>
        <mat-list style="cursor: pointer !important" role="list">
            <mat-list-item role="listitem" (click)="ondetails()">Item 1 datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a></mat-list-item>
            <mat-list-item role="listitem">Item 2 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>ggggggggggggggggkkkkkkkkkkkkkkkkkkk</mat-list-item>
            <mat-list-item role="listitem">Item 3 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>ssssssssskkkkkkkkkkkkkkkkkkkkkkkkkkkkk</mat-list-item>
            <mat-list-item role="listitem">Item 1 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>kkkkkkkkkkkkkkkkkkkk</mat-list-item>
            <mat-list-item role="listitem">Item 2 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>ggggkkkkkkkkkkkkkkkkkkk</mat-list-item>
            <mat-list-item role="listitem">Item 3 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>sssssssskkkkkkkkkkkkkkkkkkkkkkkkkkkkk</mat-list-item>
            <mat-list-item role="listitem">Item 1 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>kkkkkkkkkkkk</mat-list-item>
            <mat-list-item role="listitem">Item 2 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>ggggkkkkkkkkkkkkkkkkkkk</mat-list-item>
            <mat-list-item role="listitem">Item 3 1datadatadatadatadatadatadatadatadatadatadata<a style="cursor: pointer; color:blue">seatno:122323</a>ssssssssssssssssskkkkkkkkkkkkkkkkkkkkkkkkkkkkk</mat-list-item>
          </mat-list>
    </div>
    <div class="flexbox-item2">
        <form class="flexbox-container">
            <div class="flexbox-item1">
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 1</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 2</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 1</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 2</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 1</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 2</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 1</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 2</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                </div>
            <div class="flexbox-item2">
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 1</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 2</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 4</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 5</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 6</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 1</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 2</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 1</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 2</mat-checkbox>
                    <mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate">seat 3</mat-checkbox>
            </div>
        </form>
        <br>
        <a>Check-out : </a><mat-checkbox ></mat-checkbox>
        <a>Check-in : </a><mat-checkbox [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="indeterminate"></mat-checkbox>
        <a>Passanger with infanta : 'B'</a>
        <a> passengers requiring wheel chair : 'WC' </a> 
    </div>
</div>
